@charset "utf-8";

/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* 전체 컨테이너 스타일 */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

/* 헤더 스타일 */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-left: 20px;
}

#gnb {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

#gnb li {
  margin-left: 20px;
}

#gnb li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

#gnb li a:hover {
  color: #ff4081;
}

/* 제목 스타일 */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
}

/* 입력 창 스타일 */
.name-input {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.todo-input {
  width: calc(100% - 40px);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/* 방명록 항목 컨테이너 스타일 */
.todos-container {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/* 방명록 항목 스타일 */
.todo-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.todo-item:hover {
  background-color: #f1f1f1;
}

.delete-btn {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #d73764;
}
